<h3> {{ 'UniversisGraduationModule.GraduationCeremony.Title' }} </h3>
<div class="py-3 col">
  <div class="row font-md mb-2"> {{ 'UniversisGraduationModule.GraduationCeremony.ParticipationStatus' }} </div>
  <div class="row align-items-center">
    <i *ngIf="status.icon" class="mr-2 font-5xl text-gray-500 {{ status.icon }}"></i>
    <span class="font-lg">{{ status.message }}</span>
  </div>
  <button *ngIf="status.alternateName == 'absent'" type="button" class="mt-1 row btn btn-light">
    {{ 'UniversisGraduationModule.GraduationCeremony.ContactRegistrar' }}
  </button>
</div>
<div class="py-3">
  <div class="font-md mb-2"> {{ 'UniversisGraduationModule.GraduationCeremony.GraduationCeremonyStatus' }} </div>
  <div *ngIf="graduationDate">
    <div class="row col-12 col-xl-9">
      <div class="col-6 col-md">
        <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Date' }} </div>
        <div class="row font-weight-bold font-lg">{{ graduationDate }}</div>
      </div>
      <div class="col-6 col-md">
        <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Time' }} </div>
        <div class="row font-weight-bold font-lg">{{ graduationDate }}</div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Location' }} </div>
        <div class="row font-weight-bold font-lg">{{ graduationLocation }}</div>
      </div>
      <!-- <div class="col-6 col-lg">Ώρα</div>
      <div class="col-12 col-lg-6">Τοποθεσία</div>
    </div>
    <div class="row ">
      <div class="col-6 col-lg"></div>
      <div class="col-6 col-lg">{{ graduationDate | localizedDate:'shortTime' }}</div>
      <div class="col-12 col-lg-6">{{ graduationLocation }}</div> -->
    </div>
  </div>
  <div *ngIf="!graduationDate">
    <div class="font-lg mb-3">
      {{ 'UniversisGraduationModule.GraduationCeremony.DatesWillBeAnnouncedNotice' }}
    </div>
    <div>
      <i class="font-lg text-info fa fa-info-circle mr-3"></i>
      <span> {{ 'UniversisGraduationModule.GraduationCeremony.MailWillBeSentNotice' }} </span>
    </div>
  </div>
  <div *ngIf="certificates" class="mt-4 mb-3 col">
    <div class="row font-md mb-2">
      {{ 'UniversisGraduationModule.GraduationCeremony.GraduationCertificates' }}
    </div>
    <div class="row py-2" *ngFor="let certificate of certificates">
      <div class="row font-lg col-12">{{ certificate.title }}</div>
      <!-- <button (click)="downloadFile(certificateUrl);" type="button"
              class="align-self-start btn btn-secondary btn-requests btn-requests-grey d-block d-sm-none mt-2"></button> -->
        <button type="button" class="mt-1 col-lg-1 col-md-2 col-sm-3 btn btn-light">
          {{ 'UniversisGraduationModule.Download' }}
        </button>
    </div>
  </div>
</div>
