<!-- The graduation request student form -->
<ng-template #studentGraduationRequestForm>
  <form #studentGraduationRequest="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12">
        <p> {{ requestMessage }} </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <label for="graduation-special-request" class="sr-only"> {{ 'UniversisGraduationModule.SpecialRequest.Title' }} </label>
        <p>
          {{ 'UniversisGraduationModule.SpecialRequest.Notice' }}
        </p>
        <textarea
          id="graduation-special-request"
          name="graduation-special-request"
          placeholder="{{ 'UniversisGraduationModule.SpecialRequest.InputPlaceholder' }}"
          class="form-control"
          [(ngModel)]="studentRequest.specialRequest"
        ></textarea>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="form-check mt-2" *ngFor="let consent of graduationRequestConsents; index as i;">
          <input
            type="checkbox"
            id="{{ consent.id }}"
            name="{{ consent.id }}"
            class="form-check-input checkbox checkbox-primary"
            [checked]="consents[i]"
            (click)="updateConsentsStatus($event, i)"
            [(ngModel)]="studentRequest[consent.id]"
          />
          <label for="{{ consent.id }}" class="form-check-label" >
            {{ consent.translationKey }}
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <i class="fa fa-info-circle text-primary"></i>
        <span> {{ 'UniversisGraduationModule.GraduationRequest.WillAnnounceDatesNotice' }} </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <input
          type="submit"
          value="{{ 'UniversisGraduationModule.GraduationRequest.Request' }}"
          class="btn btn-purple pl-4 pr-4"
          [disabled]="!canSubmit"
        />
      </div>
    </div>
  </form>
</ng-template>

<!-- The view of the form when it is already submitted -->
<ng-template #studentGraduationRequestView>
  <div class="row">
    <div class="col-12 mt-2">
      <span> {{ 'UniversisGraduationModule.GraduationRequest.Request' }} </span>
      <p class="text-secondary"> {{ requestMessage }} </p>
    </div>
  </div>
  <div class="row" *ngIf="specialRequest">
    <div class="col-12 mt-2">
      <span> {{ 'UniversisGraduationModule.SpecialRequest.Title' }} </span>
      <p class="text-secondary"> {{ specialRequest }} </p>
    </div>
  </div>
</ng-template>

<!-- Component start -->
<div class="row">
  <div class="col-12">
    <h2> {{ 'UniversisGraduationModule.GraduationRequestTitle' }} </h2>
  </div>
</div>
<ng-container
  [ngTemplateOutlet]="submitted ? studentGraduationRequestView : studentGraduationRequestForm"
></ng-container>
