<div class="row">
  <div class="col-12">
    <h2> {{ 'UniversisGraduationModule.DocumentsSubmission.Title' }} </h2>
    <p> {{ 'UniversisGraduationModule.DocumentsSubmission.Subtitle' }} </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span> {{ 'UniversisGraduationModule.DocumentsSubmission.SubmissionStatus' }} </span>
    <p> {{ 'UniversisGraduationModule.DocumentsSubmission.SubmissionStatuses.ongoing' }} </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span> {{ 'UniversisGraduationModule.DocumentsSubmission.GraduationDocuments' }} </span>
    <div class="row" *ngIf="documents">
      <div class="col">
        <div class="row mt-4" *ngFor="let document of documents; index as i">
          <div class="col">
            <div class="row">
              <div class="col d-flex align-items-start">
                <div class="icon-container">
                  <span class="fa-stack" *ngIf="document.status === 'pending'">
                    <i class="fa fa-circle fa-stack-2x text-white"></i>
                    <i class="far fa-clock fa-stack-2x text-secondary"></i>
                  </span>
                  <span class="fa-stack" *ngIf="document.status === 'complete'">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="fa-stack" *ngIf="document.status === 'fail'">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="row ml-3">
                  <div class="col">
                    <span> {{ document.title }} </span>
                    <p class="text-secondary"> {{ document.description }} </p>
                    <div class="row">
                      <div class="col">
                        <button
                          class="btn btn-gray-100"
                          *ngIf="!document.documentUrl"
                          disabled title="The file is not available"
                        >
                          {{ 'UniversisGraduationModule.DocumentsSubmission.DownloadDocument' }}
                        </button>
                        <button class="btn btn-gray-100" *ngIf="document.documentUrl" (click)="downloadFile(i)">
                          {{ 'UniversisGraduationModule.DocumentsSubmission.DownloadDocument' }}
                        </button>
                        <button class="btn btn-gray-100 ml-2" (click)="collapseMessageBlock(i)">
                          {{ 'UniversisGraduationModule.DocumentsSubmission.ContactService' }}
                        </button>
                      </div>
                    </div>
                    <div class="row" [ngClass]="{
                      'd-none': messageBlocksCollapseState[i]
                    }">
                      <div class="col border rounded mt-4 py-3 px-3">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <textarea class="form-control mb-2" 
                                placeholder="{{ 'UniversisGraduationModule.MessagePrompt' }}"
                              ></textarea>
                              <button class="btn btn-indigo mr-1">{{ 'UniversisGraduationModule.Send' }}</button>
                              <button class='btn' (click)="collapseMessageBlock(i)">{{ 'UniversisGraduationModule.Cancel' }}</button>
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngFor="let message of document.messages">
                          <div class="col">
                            <span class="text-secondary pt-1"> {{ message.from }} at {{ message.dateCreated | date: 'short'}} </span>
                            <blockquote class="border-left pl-3">
                              {{ message.contents }}
                            </blockquote>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
